{% extends "admin/change_list.html" %}
{% load i18n %}

{% block content %}
  {{ block.super }}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var tokenValue = document.querySelector('input[name="csrfmiddlewaretoken"]').value
      function markSolved(el) {
        return function (e) {
          e.preventDefault()
          window.fetch(el.dataset.solvechallenge, {
            method: "POST",
            headers: {
              'X-Requested-With': 'XMLHttpRequest',
              'X-CSRFToken': tokenValue
            }
          }).then(function() {
            document.location.reload()
          })
        }
      }
      Array.from(document.querySelectorAll('button[data-solvechallenge]')).forEach((el) => {
        el.addEventListener('click', markSolved(el))
      })
    })
  </script>
{% endblock %}
